@use '../base/global';

.header {
  background-color: #ffffff;
  height: 60px;

  &-wrapper {
    max-width: global.$layout-default-size;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;

    @media (max-width: global.$layout-breakpoint-tablet) {
      padding: 0 16px;
    }
    @media (min-width: global.$layout-breakpoint-tablet) and (max-width: global.$layout-breakpoint-lg){
      padding: 0 60px;
    }
  }
}

.nav {
  display: flex;
  gap: 10px;
}