@use "../base/colors";

.button {
  width: 100px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$primary;
  border-radius: 80px;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;

  &:hover {
    background-color: colors.$primary-hover;
  }

  &[disabled] {
    background-color: colors.$disabled-gray;
  }
}