@use "../base/colors";

.button {
  /*In the design for some reason all buttons are different sizes.
  I used padding to make buttons look the same.*/
  padding: 5px 25px;

  //width: 100px;
  //height: 34px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$primary;
  border-radius: 80px;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;

  &:hover {
    background-color: colors.$primary-hover;
  }

  &[disabled] {
    background-color: colors.$disabled-gray;
    color: rgba(255, 255, 255, 0.87);
  }
}