@use '/src/styles/base/global';

.post-request-section {
  max-width: global.$layout-default-size;
  margin: 140px auto 100px;

  &__title {
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
  }

  &__form, &__input-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    margin-top: 50px;

    &-submit-button {
      margin-top: 50px;
    }

    &--success {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  }

  &__radio-box {
    position: relative;
    padding: 4px 0;
  }

  &__select {
    width: 380px;
    margin-top: 29px;

    .post-request-section__radio-box > {
      input[type="radio"]:checked,
      input[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
      }

      input[type="radio"]:checked + label,
      input[type="radio"]:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        font-size: 16px;
        line-height: 1.25;
        cursor: pointer;
      }

      input[type="radio"]:checked + label:before,
      input[type="radio"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #00BDD3;
        background-color: #ffffff;
      }

      input[type="radio"]:not(:checked) + label:before {
        border: 1px solid #D0CFCF;
      }

      input[type="radio"]:checked + label:before,
      input[type="radio"]:not(:checked) + label:before {
        border-radius: 100%;
      }

      input[type="radio"]:checked + label:after,
      input[type="radio"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }

      input[type="radio"]:checked + label:after,
      input[type="radio"]:not(:checked) + label:after {
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #00BDD3;
      }

      input[type="radio"]:not(:checked) + label:after {
        opacity: 0;
      }

      input[type="radio"]:checked + label:after {
        opacity: 1;
      }
    }

    & > label {
      display: flex;
      margin-bottom: 11px;
      line-height: 1.62;
    }

    @media (max-width: global.$layout-breakpoint-tablet) {
      width: 328px;
    }
  }
  &__preloader-wrapper {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
}