@import "colors";

$layout-breakpoint-mobile: 360px;
$layout-breakpoint-tablet: 768px;
$layout-breakpoint-lg: 1024px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
  background-color: $background-primary;
}