@use 'colors';

$layout-default-size: 1170px;
$layout-breakpoint-mobile: 360px;
$layout-breakpoint-tablet: 768px;
$layout-breakpoint-lg: 1024px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
  background-color: colors.$background-primary;

  /* Design in figma supports only more than 360px, so I decided to restrict it here. */
  min-width: 360px;
}

h1 {
  font-size: 40px;
  line-height: 1;
}